body {
  padding-top: 50px;
  padding-bottom: 20px;
}

footer {
  float: right;
}

#file-select-form {
  width: 500px;
}

#zip-output {
  padding-top: 20px;
}

#progress {
  padding-top: 20px;
}

.channelheadertd {
  vertical-align: middle;
  border-top: 0px !important;
}

.channelheader {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.channelpurpose .channelarchived {
  color: darkgrey;
  padding-left: 10px;
}

.hideme {
  display: none;
}

#loading {
  display: none;
}
